/* Pre CSS styles */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    /* border: 1px solid red; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header,
main {
    max-width: 1320px;
    margin: 0 auto;
}

/* header related styles */

.banner {
    background: url('../images/Banner\ Image.png'), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-repeat: no-repeat;
    max-width: 1320px;
    margin-top: 50px;
    border-radius: 16px;
    background-blend-mode: overlay;
}

.banner-text {
    padding: 200px 344px;
    font-family: "Merriweather", serif;
    color: #FFF;
    text-align: center;
    max-width: 632px;
}

.banner-mini-title {
    font-size: 32px;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
}

/* Discout Section related styles */
.discount-section {
    margin-top: 120px;
    text-align: center;
    font-family: Inter;
}

.discount-title {
    color: #F00;
    font-size: 88px;
}

.discount-description {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0 10px 0;
}

.discount-catagory {
    color: #070211;
    font-size: 48px;
    margin-bottom: 48px;
}

.discount-section img {
    max-width: 802px;
}

/* Party section related styles */
.party-section {
    background: url('../images/Vectorrr.png'), linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-repeat: no-repeat;
    /* background-size: contain; */
    border-radius: 16px;
    margin: 120px 0;
    background-blend-mode: overlay;
}

.party-item {
    padding: 68px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 94px;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    margin: 24px 0 48px 0;
}

.party-item button {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-left: 32px;
}

/* schedule section */
.schedule-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 100px 0;
    border-radius: 16px;
}

.schedule-title {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.schedule-title-color {
    color: #F00;
}

.schedule-section button {
    border-radius: 8px;
    background: #F00;
    padding: 15px 32px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 48px;
}

/* Offer section related styles */
.offer-section {
    margin: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.offer-item {
    width: 30%;
}

.offer-mini-title,
.portfolio-mini-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-title,
.portfolio-title,
.subscribe-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 22px 0;
}

.offer-description,
.portfolio-description,
.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
}

.offer-img {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
    max-width: 364px;
    text-align: center;
}

.offer-right-title {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    margin-bottom: 15px;
}

.offer-right-img {
    max-width: 140px;
    margin-top: 43px;
}

/* Portfolio section related styles */



.portfolio-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
}

.portfolio-img {
    max-width: 424px;
    border-radius: 16px;
    transition: 0.2s;
}

.portfolio-img:hover {
    transform: scale(1.2);
}

/* subscribe section related styles */
.subscribe-section {
    margin: 120px 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 212px;
}

.subscribe-section img {
    max-width: 150px;
    margin-bottom: 18px;
}

.submit-style {
    margin-top: 48px;
    margin: 48px auto 0;
    position: relative;
}

.submit-style input {
    border: none;
    padding: 18px 30px;
}

.mail-inp {
    width: 684px;
    border-radius: 50px;
    background-color: #FFF;

    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
}

.subscription-inp {
    width: 210px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    position: absolute;
    /* right: 651px; */
    right: 87px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

/* Footer related styles */
.footer-section {
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 120px 140px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

}
.footer-text-left{
    width: 25%;
}

.footer-icon-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 48px 0;
}
.footer-icon{
    max-width: 64px;
}